<h2>Pokedex</h2>

<div class="pokemon-container" *ngIf="pokemonData">
    <h2>Pokemon favorito:</h2>
    <img [src]="pokemonData.sprites.front_default" alt="{{ pokemonData.name }}" class="pokemon-image" />
    <div class="pokemon-info">
      <p>Numero: {{ pokemonData.id }}, Nombre: {{ pokemonData.name }}</p>
      <p>Descripción: {{ pokemonData.description }}</p>
    </div>
</div>


  <div class="container">
    <div class="left-column">
      <!-- lista de pokemon -->
      <app-lista-pokemon (pokemonSelected)="selectedPokemon = $event"></app-lista-pokemon>
    </div>
    <div class="right-column">
      <!-- detalles del pokemon -->
      <div class="pokemon-details">
        <app-detalle-pokemon [selectedPokemon]="selectedPokemon"></app-detalle-pokemon>
      </div>
      <!-- tabla de letras -->
      <h3>Tabla Resumen Pokedex</h3>
      <div class="scrollable-container">
        <table class="pokemon-table">
          <thead>
            <tr>
              <th>Letra</th>
              <th>Cantidad Pokemon</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let letter of pokemonService.pokemonCountByLetter | keyvalue">
              <td>{{ letter.key }}</td>
              <td>{{ letter.value }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

