<div class="scrollable-container2">
  <div class="pokemon-header">
    <h2>{{ selectedPokemon.name}}</h2>
    <button (click)="guardarPokemon()">{{ botonTexto }}</button>
  </div>

  <div class="scrollable-container">
    <div class="pokemon-details">
      <div class="pokemon-images">

        <div class="pokemon-image">
          <img [src]="selectedPokemon.sprites[getValidSpriteKeys()[currentIndex]]" alt="{{ getValidSpriteKeys()[currentIndex] }}" />
        </div>
        <button (click)="prevImage()" [disabled]="currentIndex === 0">Anterior</button>
        <button (click)="nextImage()" [disabled]="currentIndex === getValidSpriteKeys().length - 1">Siguiente</button>
      </div>
      <div class="data-section">
        <h3>Datos:</h3>
        <p>Numero: {{ selectedPokemon.id }}</p>
        <p>Peso: {{ selectedPokemon.weight }}</p>
        <p>Altura: {{ selectedPokemon.height }}</p>
        <p>Sexo: {{ genderSymbol }}</p>
      </div>
    </div>
    <div class="abilities">
      <h3>Habilidades:</h3>
      <ul>
        <li *ngFor="let ability of selectedPokemon.abilities">
          {{ ability.ability.name }}
        </li>
      </ul>
    </div>

    <div class="types">
      <h3>Tipo(s):</h3>
      <ul>
        <li *ngFor="let type of selectedPokemon.types" [ngClass]="'type-' + type.type.name">
          {{ type.type.name }}
        </li>
      </ul>
    </div>

    <h3>Debilidades:</h3>
    <ul>
      <li *ngFor="let weakness of selectedPokemon.weaknesses" [ngClass]="'type-' + weakness.toLowerCase()">
        {{ weakness }}
      </li>
    </ul>

    <h3>Estadísticas:</h3>
    <table class="stats-table">
      <thead>
        <tr>
          <th>Estadística</th>
          <th>Valor</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stat of selectedPokemon.stats">
          <td>{{ stat.stat.name }}</td>
          <td>{{ stat.base_stat }}</td>
        </tr>
      </tbody>
    </table>

    <h3>Descripción:</h3>
    <p>{{ selectedPokemon.description }}</p>
  </div>
</div>
